<div *ngIf="usersList.length > 0">
  <button class="btn btn-block btn-info">Ajouter un utilisateur</button>
  <table class="table table-hover">
    <thead>
    <tr>
      <th>Identifiant</th>
      <th>Nom</th>
      <th>Prenom</th>
      <th>Pseudo</th>
      <th>Editer</th>
    </tr>
    </thead>
    <tbody>
    <tr id="{{user.id}}" *ngFor="let user of usersList">
      <th>{{user.id}}</th>
      <th>{{user.name}}</th>
      <th>{{user.lastName}}</th>
      <th>{{user.userName}}</th>
      <th><button class="btn btn-block">Editer</button></th>
    </tr>
    </tbody>
  </table>
</div>

<div *ngIf="usersList.length == 0">
  <h2 class="d-flex justify-content-center pt-5" >Aucun utilisateur trouvé</h2>
  <button [routerLink]="'/create-user'" class="btn btn-block btn-info mt-5">Ajouter un utilisateur</button>
</div>

