<div class="py-5">
  <div class="row py-5">

    <div class="col-md-6 pb-3">

      <input #_fileInput type="file" (change)="openCropperDialog($event)" accept="image/*" hidden>

      <div class="card-img-form card-img-rad">

        <div class="row m-0" style="position: absolute;width: inherit">

          <div class=" col-8 pr-0 d-flex justify-content-start p-0" style="z-index: 200">
            <button ly-button color="primary" [disabled]="this.userCanAddDesc" class="btn btn-lg btn-light" (click)="_fileInput.click()">
              <ly-icon [lyMf]="1">image</ly-icon>
              <span>Select File</span>
            </button>

          </div>

          <div class="col-4 pl-0 d-flex justify-content-end p-0 " style="z-index: 200">
            <button class="btn btn-lg btn-light" [disabled]="this.userCanAddDesc" (click)="removepicture()">
              <i class="fas fa-times"></i></button>
          </div>

        </div>

        <div *ngIf="cropped"><img class=" card-img-form card-img-rad" [src]="cropped"></div>
        <div *ngIf="!cropped"><img class="card-img-form card-img-rad" src="assets/images/nopicture.png"></div>

      </div>

    </div>
    <div class="col-md-6">
      <div class="row pb-3">
        <div class="col-6">
          <h3>Nom</h3>
        </div>
        <div class="col-6 d-flex align-items-center">
          <span>Machin</span>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-6">
          <h3>Prénom</h3>
        </div>
        <div class="col-6 d-flex align-items-center">
          <span>Machin</span>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-6">
          <h3>Nom d'utilsateur</h3>
        </div>
        <div class="col-6 d-flex align-items-center">
          <span>Machin</span>
          <button class="btn btn-block btn-info" (click)="open(userName)">
            <i class="fas fa-edit"></i>
          </button>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-6">
          <h3>Email</h3>
        </div>
        <div class="col-6 d-flex align-items-center">
          <span>Machin</span>
        </div>
      </div>
      <div class="row pb-3">
        <div class="col-6">
          <h3>Mot de passe</h3>
        </div>
        <div class="col-6 d-flex align-items-center">
          <span>Machin</span>
          <button class="btn btn-block btn-info" (click)="open(userName)">
            <i class="fas fa-edit"></i>
          </button>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
</div>


<ng-template #userName let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>

<ng-template #password let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Profile update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="form-group">
        <mat-form-field appearance="outline">
          <mat-label>Prénom</mat-label>
          <input matInput>
        </mat-form-field>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
  </div>
</ng-template>
